#!/bin/bash

# HOME path
HOME="/home/utsavbalar"
# Kernel Output
OUT_DIR="out"
DEVICE="exynos9610-a51xx"

make ARCH=arm64 \
        O=${OUT_DIR} \
        ${DEVICE}_defconfig \
        -j$(nproc --all)

cp ${OUT_DIR}/.config arch/arm64/configs/${DEVICE}_defconfig

make ARCH=arm64 \
        O=${OUT_DIR} \
        savedefconfig \
        -j$(nproc --all)

cp ${OUT_DIR}/defconfig arch/arm64/configs/a51_defconfig
